/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {
    margin: 0; 
    padding: 25px 0 0}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {margin: 0; background: #fff; position: relative; zoom: 1;}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 500px;}
.flexslider .slides {zoom: 1;}
.flexslider .slides li{ 
    display:none; 
    width:100%; 
    height:500px;
background: #e1e1e1}
.flexslider .slides li a{display:block;width:100%; height:500px}
.carousel li {margin-right: 5px}
.flexslider .slides li.ban-01,
.flexslider .slides li.ban-02,
.flexslider .slides li.ban-03{
    background-position: top center;
    background-size: contain}
.webp .flexslider .slides li.ban-01{
    background: url(../images/banner-index-01.webp) no-repeat}
.webp .flexslider .slides li.ban-02{
    background: url(../images/banner-index-02.webp) no-repeat}
.webp .flexslider .slides li.ban-03{
    background: url(../images/banner-index-03.webp) no-repeat}
.no-webp .flexslider .slides li.ban-01{
    background: url(../images/banner-index-01.jpg) no-repeat}
.no-webp .flexslider .slides li.ban-02{
    background: url(../images/banner-index-02.jpg) no-repeat}
.no-webp .flexslider .slides li.ban-03{
    background: url(../images/banner-index-03.jpg) no-repeat}


/* Direction Nav */
.flex-direction-nav { display: none}
/*.flex-direction-nav {*height: 0;}
.flex-direction-nav a {width: 30px; height: 30px; margin: -20px 0 0; display: block; background: url(../images/bg_direction_nav.png) no-repeat 0 0; position: absolute; top: 50%; z-index: 10; cursor: pointer; text-indent: -9999px; opacity: 0; -webkit-transition: all .3s ease;}
.flex-direction-nav .flex-next {background-position: 100% 0; right:0; }
.flex-direction-nav .flex-prev {left:0;}
.flexslider:hover .flex-next {opacity: 0.8; right:0;}
.flexslider:hover .flex-prev {opacity: 0.8; left:0;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}*/

/* Control Nav */
.flex-control-nav {
    width: 25%; 
    position: absolute; 
    right:0;
    bottom: 30px;
    z-index: 100;
    text-align: center}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 14px; height: 14px; display: block; background: #C4C4C4; cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px}
.flex-control-paging li a:hover { background: #CDF480}
.flex-control-paging li a.flex-active { background: #CDF480; cursor: default}


@media (max-width:1500px) { 
.flex-control-nav { width: 32%}
}

@media (max-width:1400px) { 
.flexslider .slides li.ban-01,
.flexslider .slides li.ban-02,
.flexslider .slides li.ban-03{
    background-size: 100%;
    background-position: top center}
.flexslider .slides li,
.flexslider .slides li a{ height: 400px}    
.flex-control-nav { width: 32%; bottom: 100px;}
}

@media (max-width:1100px) { 
.flexslider .slides li.ban-01,
.flexslider .slides li.ban-02,
.flexslider .slides li.ban-03{
    background-size: 100%;
    background-position: top center}
.flex-control-nav { width: 40%}
}

@media (max-width:800px) { 
.flexslider .slides li{ 
    height:400px}
.flex-control-nav { width: 45%}
.webp .flexslider .slides li.ban-01{
    background: url(../images/banner-index-01.webp) no-repeat;
    background-position: bottom center;
    background-size: cover}
.webp .flexslider .slides li.ban-02{
    background: url(../images/banner-index-02.webp) no-repeat;
    background-position: bottom center;
    background-size: cover}
.webp .flexslider .slides li.ban-03{
    background: url(../images/banner-index-03.webp) no-repeat;
    background-position: bottom center;
    background-size: cover}
.no-webp .flexslider .slides li.ban-01{
    background: url(../images/banner-index-01.jpg) no-repeat;
    background-position: bottom center;
    background-size: cover}
.no-webp .flexslider .slides li.ban-02{
    background: url(../images/banner-index-02.jpg) no-repeat;
    background-position: bottom center;
    background-size: cover}
.no-webp .flexslider .slides li.ban-03{
    background: url(../images/banner-index-03.jpg) no-repeat;
    background-position: bottom center;
    background-size: cover}  
}

@media (max-width: 600px) { 
.flexslider .slides li{ height:316px}
.flexslider .slides li,
.flexslider .slides li a{ height: 300px} 
.flex-control-nav { width: 48%; bottom: 50px} 
}

@media (max-width: 420px) {
.flexslider { padding: 15px 0 0}
.flexslider .slides li{ height:194px}
.flex-control-nav { width: 48%; bottom: 40px;}
}

@media (max-width: 321px) { 
.flexslider .slides li{ height:163px}
.flex-control-nav { width: 50%; bottom: 30px}
}
/*@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {opacity: 1; left: 0;}
  .flex-direction-nav .flex-next {opacity: 1; right: 0;}
}*/