@charset "utf-8";
/*-- Created By
   ##############               ###############   
    ##############             ###############    
    ##############             ##############     
     ##############           ##############      
      ##############          #############       
       #############         ##############       
        #############       ##############        
        ##############      #############         
         ###############################          
         ###############################          
        #################################         
        ##############     ##############         
       ##############       ##############        
       ##############        ##############       
      ##############         #######           
     ###############          ##############      
     ##############           ###############     
    ######      
    ##############              ##############    
   ##############               ##############
          
                 xuedesign studio 
             https://www.xuedesign.tw/
*
* @project    SKY PV ENERGY Official website
* @Author     Elmo Woo <hello@xuedesign.tw>
* @copyright  2019 xuedesign studio
* @version    v1.0 - 201906
*
*=====================================
* 0.Reset重置
* 1.通用設定
* 2.網站結構
* 3.頁面設定
*   3-1.首頁
*   3-2.版權列
*   3-3.關於天晶
*   3-4.太陽能介紹
*   3-5.案場經驗
*   3-6.太陽能材料
*   3-7.聯絡我們
* 4.選單設定
*   4-1.網站主選單
*   4-2.行動版選單
*5.按鈕設定
*   5-1.返回頂端
* 6.等待載入動畫
* 7.Animate
* 8.自訂scrollbar
*=====================================
**/


/*
=====================================
reset重置
=====================================
*/
@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,400,700&display=swap");

/*
=====================================
通用設定
=====================================
*/
html { font-size:62.5%; scroll-behavior: smooth}
body{
	margin: 0;
	padding:0;
    background: #fff;
    background-attachment: fixed;
    background-size: cover;
	font-family:"Noto Sans TC", "Microsoft JhengHei","PingFangTC-Regular", "Arial", "Helvetica", sans-serif;
    font-size: 1rem; /* 1rem=10px */
	color:#333333}
/*a:link {text-decoration:none; color:#6F87EB}
a:visited {text-decoration:none; color:#8c8c8c}
a:hover {text-decoration:underline; color:#37D0B4}*/
form{margin:0; padding:0}
image{border:0}
.clean{ clear:both}
.hidden{ display:none}

/*頁面反白設定*/
::selection { background: #6F87EB; color: #fff}
::-moz-selection { background: #6F87EB; color: #fff}
img::selection { background: transparent}
img::-moz-selection { background: transparent}


/*
=====================================
全站結構
=====================================
*/
#wrap,
header,
#hdr-fixed,
#box_banner-index,
#box_banner-page,
#banner_slider,
#box_case,
footer,
#footer_deco{ display: block; width: 100%}

header{ height: 120px}
#hdr-fixed{ 
    position: fixed;
    height: 120px;
    background: #fff;
    z-index: 150}
#hdr-fixed::before{
    display: block;
    content: "";
    margin: 0;
    border: 3px solid #AED06B}
#hdr-main{
    display: flex;
    flex-wrap: wrap;
    width: 1280px;
    margin: 0 auto;
    padding-top: 30px}

#box_banner-index{ height: 550px}
#banner_slider{ height: 500px}
#box_banner-pages{ 
    position: relative;
    height: 224px}

footer{
    background: url(../images/bg_footer-main.png) no-repeat;
    background-size: cover}
#footer_deco{
    height: 75px;
    background: url(../images/bg_footer-deco.png) repeat-x}
#deco_left{
    display: block;
    float: left;
    width: 50%;
    height: 75px;
    background: url(../images/bg_footer-deco-left.png) no-repeat}
#deco_right{
    display: block;
    float: left;
    width: 50%;
    height: 75px;
    background: url(../images/bg_footer-deco-right.png) no-repeat;
    background-position: bottom right}
#footer_deco::after{
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0}
#foot_main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 45px 0 30px 0;
    margin: 0 auto}

/*
=====================================
頁面設定
=====================================
*/
/*首頁*/
h1 a{
    display: block;
    width: 371px;
    height: 68px;
    background-image: url(../images/h1.svg);
    background-repeat: no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden}
#box_ban-left,
#box_ban-pleft{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50}
#box_ban-left{
    width: 142px;
    height: 362px;
    background: url(../images/box_banner-left.svg) no-repeat}
#box_ban-pleft{
    width: 142px;
    height: 146px;
    background: url(../images/box_banner-pleft.svg) no-repeat}
#sologan,
#sologan-pages{
    display: block;
    position: absolute;
    right: 0;
    z-index: 50;
    text-align: right}
#sologan{
    top: 15px;
    width: 625px;
    height: 540px;
    padding: 151px 45px 0 0;
    overflow: hidden;
    background: url(../images/box_banner-right.svg) no-repeat}
#sologan-pages{
    top: 0;
    width: 440px;
    height: 224px;
    background: url(../images/box_banner-pright.svg) no-repeat
}
#sologan h2,
#sologan-pages h2{
    font-size: 4.8rem;
    line-height: 5rem;
    letter-spacing: 2px;
    color: #CDF480
}
#sologan h2{
    margin-left: 200px;
    padding-bottom: 15px;
    border-bottom: 1px solid #E5E5E5
}
#sologan-pages h2{
    font-weight: 400;
    padding: 73px 35px 0 0
}
#sologan h3{
    font-size: 3rem;
    font-weight: 400;
    line-height: 3rem;
    padding-top: 15px;
    color: #fff}
.bg_projects{
    background: url(../images/banner_project.webp) no-repeat;
    background-position: center 8px}
.no-js .bg_projects{
    background: url(../images/banner_project.jpg) no-repeat;
    background-position: center 8px}


/*版權列*/
.slogan,
.copyright{
    display: block;
    width: 100%;
    text-align: center}
.slogan{
    background: #BFDCFF;
    padding: 5px;
    font-size: 1.8rem;
    line-height: 2.5rem;
    letter-spacing: 1px;
    color: #343333}
.copyright{
    font-size: 1.3rem;
    line-height: 2rem;
    padding-bottom: 15px;
    color: #fff}
#foot_main h3 a{
    display: block;
    margin-top: 25px;
    width: 207px;
    height: 107px;
    background: url(../images/logo-foot.svg) no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden}
.company_info{
    display: block;
    padding-left: 150px}
.company_info li{
    font-size: 1.6rem;
    line-height: 2.5rem;
    color: #fff}
.footer_nav{
    display: block;
    padding-left: 150px}
.footer_nav li a,
.footer_nav li a:visited{
    font-size: 1.6rem;
    line-height: 2.5rem;
    color: #fff;
    text-decoration: none}
.footer_nav li a:hover{
    color: #37D0B4;
    text-decoration: none}

/*
=====================================
選單設定
=====================================
*/
/*網站主選單*/
#nav_main{
    display: block;
    flex: 3}
#box_lang{
    display: block;
    flex: 1}

#nav_main ul,
#box_lang ul{ 
    text-align: right;
    padding-top: 28px}
#nav_main li,
#box_lang li{
    display: inline-block;
    font-size: 1.8rem;
    line-height: 2.7rem}
#nav_main li a,
#box_lang li a{
    color: #243788;
    padding: 0 15px 5px;
    text-decoration: none}
#box_lang .nowlang a{
    background: #5a9ed3;
    color: #fff;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding: 0 15px 5px;
    margin: 0 8px}
#nav_main li::after,
#box_lang li::after{
    content: "|";
    padding: 0 3px}
#nav_main li:last-child::after,
#box_lang li:first-child::after,
#box_lang li:last-child::after{
    content: ""}
#box_lang li:first-child::after{ padding: 0}
#box_lang li a.notyet{ color: #b2b2b2}

.hvr-underline{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden}
.hvr-underline:before{
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #aed06b;
  height: 3px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out}
.hvr-underline:hover:before, 
.hvr-underline:focus:before, 
.hvr-underline:active:before{
  left: 0;
  right: 0}
#nav_main a.nowin{ border-bottom: 3px solid #aed06b}

/*行動版選單*/
#trigger-overlay{ display: none}
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
    z-index: 9999;
    /*background: #6F87EB*/
    background: -webkit-gradient(linear, left top, right top, from(#207E9B), to(#7F96E3));
    background: -webkit-linear-gradient(top, #207E9B, #7F96E3);
    background: -moz-linear-gradient(top, #207E9B, #7F96E3);
    background: -o-linear-gradient(top, #207E9B, #7F96E3);
    background: -ms-linear-gradient(top, #207E9B, #7F96E3);
    background: linear-gradient(top, #207E9B, #7F96E3);
    background-color: #207E9B;}

/* Overlay closing cross */
.overlay .overlay-close{
	width: 50px;
	height: 50px;
	position: absolute;
	right: 19px;
	top: 13px;
	overflow: hidden;
	border: none;
    background: none;
    font-size: 5em;
	/*text-indent: 200%;*/
	color: rgba(255, 255, 255, .9);
	outline: none;
	z-index: 100}
.overlay .overlay-close:hover{ 
    color: rgba(255, 255, 255, 1);
    cursor: pointer}

/* Menu style */
.overlay nav {
	text-align: center;
	position: relative;
	top: 40%;
	height: 60%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%)}
.overlay nav .ilogo{
    display: block; 
    width: 50%; 
    height: 150px;
    border-bottom: 1px solid #fff;
    background: url(../images/logo-foot.svg) no-repeat;
    background-size: 200px 133px;
    background-position: top center;
    margin: 0 auto 25px auto}
#box_mlan{
    display: block;
    width: 50%;
    padding: 20px 0;
    margin: 0 auto;
    font-size: 3rem;
    line-height: 3erm;
    color: #fff}
#box_mlan a{
    padding: 0 15px;
    color: #fff;
    text-decoration: none}
#box_mlan a:hover{
    color: #37D0B4;
    text-decoration: none}

.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 80%;
	position: relative;
    text-align: left}

.overlay ul li {
	display: block;
	height: 15%;
	height: calc(100% / 5);
	min-height: 70px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden}

.overlay ul li a {
    display: block;
    font-family: "Noto Sans TC","Microsoft JhengHei","PingFangTC-Regular", "Arial", "Helvetica", sans-serif;
	font-size: 3.5rem;
	font-weight: 500;
    line-height: 4rem;
    letter-spacing: 2px;
	color: rgba(255, 255, 255, 1);
    text-decoration: none;
	padding-bottom: 10px}

.overlay ul li a:hover,
.overlay ul li a:focus {
	color: #37D0B4}

/*.sub-overlay li{
        display: block;
        float: left;
        margin: 0 15px;
        padding: 0}
.overlay .sub-overlay a:hover{
        color: rgb(145, 114, 40);
        background: none}
.overlay .sub-overlay a:focus{
        color: rgba(255, 255, 255, .8);
        background: none}*/

.hvr-overlay{
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden}
.hvr-overlay:before{
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: rgba(119, 189, 31, 1);
    height: 3px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out}
.hvr-overlay:hover:before, 
.hvr-overlay:focus:before, 
.hvr-overlay:active:before{
    left: 0;
    right: 0}

/* Effects */
.overlay-scale {
	visibility: hidden;
	opacity: 0;
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
	transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s}

.overlay-scale.open {
	visibility: visible;
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);	
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s}

@media screen and (max-height: 30.5em) {
	.overlay nav {
		height: 70%;
		font-size: 30px}
	.overlay ul li {
		min-height: 30px}
}
@media (max-width: 321px) {
.overlay ul li{ min-height: 60px}
.overlay ul li a {
    font-size: 3rem;
	font-weight: 500;
    line-height: 3.5rem}
}

/*
=====================================
按鈕設定
=====================================
*/
/*返回頂端*/
#toTop{
  display:none;
  text-decoration:none;
  position:fixed;
  bottom:10px;
  right:10px;
  overflow:hidden;
  width:51px;
  height:51px;
  border:none;
  text-indent:100%;
  background:url(../images/ui.totop.png) no-repeat left top}
#toTopHover{
  background:url(../images/ui.totop.png) no-repeat left -51px;
  width:51px;
  height:51px;
  display:block;
  overflow:hidden;
  float:left;
  opacity: 0;
  -moz-opacity: 0;
  filter:alpha(opacity=0)}
#toTop:active, 
#toTop:focus {
  outline:none}

.mybtn,
.mybtn:visited{
    display: block;
    width: 180px;
    margin: 40px auto 0 auto;
    padding: 10px 5px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.2rem;
    letter-spacing: 1px;
    text-align: center;
    border: 2px solid #77bc1f;
    text-decoration: none}
.mybtn:hover{
    color: #fff;
    text-decoration: none;
    background: #466d14;
    transition-duration: .5s}
/*.mybtn-l{ 
    width: 160px;
    padding: 15px 10px}
.mybtn-m{ 
    width: 120px;
    padding: 8px 10px}
.btn-white{
    color: #fff;
    border-color: #fff;
    text-shadow: 0 0 15px #868686}
.btn-blue{
    color: #5e98d4;
    border-color: #5e98d4}*/
.btn-white:hover,
.btn-blue:hover{
    color: #fff;
    border-color: #0d4d80;
    background: #126db4;
    -webkit-transition: all 0.5s ease 0s;
    /* 變動類別;動畫時間;動畫加速屬性;延遲發生時間 */
    -moz-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;}

@keyframes mousemove {
    0%   { margin-top: 85px }
    50%  { margin-top: 100px }
    100% { margin-top: 84px }
}
@-webkit-keyframes mousemove {
    0%   { margin-top: 85px }
    50%  { margin-top: 100px }
    100% { margin-top: 84px }
}

/*
=====================================
等待載入動畫
=====================================
*/
#loading{
    display:block;
	max-width:100vw;
	height:100vh;
    background:#6F87EB}
.spinner{
    position: absolute;
    top: 47%;
    left: 50%;
    margin: 0 -107px;
    width: 207px;
    height: 107px;
    text-align: center}
.spinner p{
    font-size: 2rem;
    line-height: 5rem;
    color: #fff;
    letter-spacing: 1px}
@keyframes ld-bounce {
  0%, 90% {
    animation-timing-function: linear;
  }
  10% {
    animation-timing-function: cubic-bezier(0, 0.4, 0.6, 1);
  }
  50% {
    animation-timing-function: cubic-bezier(0.4, 0, 1, 0.6);
  }
  0% {
    -webkit-transform: translate(0%, 30%) scaleY(0.5);
    transform: translate(0%, 30%) scaleY(0.5);
  }
  10% {
    -webkit-transform: translate(0%, 5%) scaleY(1.1);
    transform: translate(0%, 5%) scaleY(1.1);
  }
  50% {
    -webkit-transform: translate(0%, -37%) scaleY(1.1);
    transform: translate(0%, -37%) scaleY(1.1);
  }
  90% {
    -webkit-transform: translate(0%, 5%) scaleY(1.1);
    transform: translate(0%, 5%) scaleY(1.1);
  }
  100% {
    -webkit-transform: translate(0%, 30%) scaleY(0.5);
    transform: translate(0%, 30%) scaleY(0.5);
  }
}
@-webkit-keyframes ld-bounce {
  0%, 90% {
    animation-timing-function: linear;
  }
  10% {
    animation-timing-function: cubic-bezier(0, 0.4, 0.6, 1);
  }
  50% {
    animation-timing-function: cubic-bezier(0.4, 0, 1, 0.6);
  }
  0% {
    -webkit-transform: translate(0%, 30%) scaleY(0.5);
    transform: translate(0%, 30%) scaleY(0.5);
  }
  10% {
    -webkit-transform: translate(0%, 5%) scaleY(1.1);
    transform: translate(0%, 5%) scaleY(1.1);
  }
  50% {
    -webkit-transform: translate(0%, -37%) scaleY(1.1);
    transform: translate(0%, -37%) scaleY(1.1);
  }
  90% {
    -webkit-transform: translate(0%, 5%) scaleY(1.1);
    transform: translate(0%, 5%) scaleY(1.1);
  }
  100% {
    -webkit-transform: translate(0%, 30%) scaleY(0.5);
    transform: translate(0%, 30%) scaleY(0.5);
  }
}
.ld.ld-bounce {
  -webkit-animation: ld-bounce 1s infinite;
  animation: ld-bounce 1s infinite;
}


/*
=====================================
Animate
=====================================
*/

/*
=====================================
自訂scrollbar
=====================================
*/
::-webkit-scrollbar {
  width: 8px;
  height: 8px}
::-webkit-scrollbar-button {
  width: 0;
  height: 0}
::-webkit-scrollbar-thumb {
  background: #6F87EB;
  border: 0px none #fff;
  border-radius: 60px;	
  behavior: url(PIE.htc)}
::-webkit-scrollbar-thumb:hover {
  background: #6F87EB}
::-webkit-scrollbar-track {
  background: #3f4c84;
  border: 0px none #fff;
  border-radius: 0;
  behavior: url(PIE.htc)}
